/* .admin_list_menu {
    padding: 100px;
    margin: 100px;
}

ul.admin_list_menu li {
    margin: 5px;
}

.admin_main .dash_board {
    text-align: center;
}

body>.body_001 {
    background-color: aquamarine;
}

.main_001 {
    display: flex;
} */